@model List<TraversalCoreUI.CQRS.Results.GuideResults.GetAllGuideQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int counter = 0;
}

<h1>CQRS MediatR Rehner Listesi</h1>
<table class="table table-bordered">
    <tr>
        <<th>#</th>
        <<th>Rehber Adı</th>
        <<th>Açıklama</th>
        <<th>Sil</th>
        <<th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        counter++;
        <tr>
            <td>@counter</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/GuideMediatR/GetGuides/@item.GuideId" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>

<a href="/Admin/GuideMediatR/AddGuide/" class="btn btn-outline-primary">Yeni Rehber Girişi</a>